.projects-section-first,
.projects-section-second {
  max-width: 2000px;
  padding: 1rem;
  margin: auto;
  margin-top: 2rem;
  border-radius: 25px;
}
.grid-projects {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  background-color: #dddddd;
  border-radius: 25px;
}

.grid-projects:hover .project-picture {
  filter: blur(5px);
}
